### Tarea 1
POO:
- Creación de una Clase que exija más de dos valores (Ej: name, age, etc) y con algún método (función).
- Crear 3 objetos de esa clase con los datos exigidos.
- Aplicar un método (función dentro de la clase) a los 3 objetos creados.
- Crear dos clases que hereden los atributos de la clase padre pero que indiquen dos “grupos” diferentes. Añadir un método que sobrescriba alguno de los métodos de la clase padre.

In [10]:
class Vehiculo():
    def __init__(self, marca, modelo, matricula):
        self.marca = marca
        self.modelo = modelo
        self.kilometraje = 0
        self.combustible = 0
    def anadir_km(self, km):
        if self.combustible > 0:
            self.kilometraje += km
            self.combustible -= km*0.3
            if self.combustible < 0:
               self.combustible = 0
        else:
            print("Sin combustible")
    def repostar(self):
        self.combustible = 65

In [11]:
v1 = Vehiculo("Ford", "Focus", "8172LJV")
v2 = Vehiculo("Lancia", "Delta", "1204AN")
v3 = Vehiculo("Citroen", "C3", "9234KNV")

In [13]:
v1.anadir_km(10.0)
v2.repostar()
v3.repostar()
v3.anadir_km(15)

Sin combustible

In [15]:
class Camion(Vehiculo):
    def repostart(self):
        self.combustible = 180
class Rally(Vehiculo):
    def anadir_km(self, km):
        if self.combustible > 0:
            self.kilometraje += km
            self.combustible -= km * 2

In [18]:
r1 = Rally("Lancia", "Delta", "1204AN")
r1.repostar()
r1.anadir_km(15)
r1.combustible

35

Bases de datos:
    
- Creación de una base de datos relacional.
- Rellenarla con 3 elementos concretos (datos en las clases que forman la tabla).
- Hacer una consulta en ella (query).

In [31]:
from sqlalchemy import create_engine
motor = create_engine('sqlite:///ejers.db')
conex = motor.connect()

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=motor)
session = Session()

In [32]:
from sqlalchemy.ext.declarative import declarative_base
class_base = declarative_base(bind=motor) 
#Borrar tablas de mi base de datos
class_base.metadata.drop_all(motor)

In [33]:
from sqlalchemy import Column, DateTime, ForeignKey, Integer, NVARCHAR, Numeric, Sequence
from sqlalchemy.orm import relationship

class Vehiculo(class_base):
    __tablename__ = "vehiculos"
    
    Matricula = Column(NVARCHAR(7), primary_key=True)
    Marca = Column(NVARCHAR(20))
    Kilometraje = Column(Numeric)

In [34]:
class_base.metadata.create_all(motor)

In [35]:
v1 = Vehiculo(
    Matricula = "8172LJV",
    Marca = 'Ford',
    Kilometraje = 200
)
v2 = Vehiculo(
    Matricula = "1204AN",
    Marca = 'Lancia',
    Kilometraje = 0
)
v3 = Vehiculo(
    Matricula = "9234KNV",
    Marca = 'Citroen',
    Kilometraje = 12
)

session.add(v1)
session.add(v2)
session.add(v3)
session.commit()

In [38]:
from sqlalchemy.sql import text
import pandas as pd
s = text(
     'SELECT * FROM vehiculos WHERE Matricula like "%V"'
    )

df = pd.read_sql(s, session.bind)
df

  Matricula    Marca  Kilometraje
0   8172LJV     Ford          200
1   9234KNV  Citroen           12