In [20]:
import numpy as np
import pandas as pd
from pathlib import Path
data_path = Path('./data')

In [21]:
df = pd.read_csv('data/house.csv')

In [22]:
df['bedrooms'].value_counts().sum()

4600

In [23]:
df.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [24]:
pd.cut(df['bedrooms'], bins = [-1, 3, 8, 10], labels=['menos de 3', 'entre 3 y 8', 'mas de 10'])

0        menos de 3
1       entre 3 y 8
2        menos de 3
3        menos de 3
4       entre 3 y 8
           ...
4595     menos de 3
4596     menos de 3
4597     menos de 3
4598    entre 3 y 8
4599     menos de 3
Name: bedrooms, Length: 4600, dtype: category
Categories (3, object): ['menos de 3' < 'entre 3 y 8' < 'mas de 10']

In [25]:
df.sort_values(by = 'bedrooms', inplace=False).head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
3209,2014-06-24 00:00:00,1295648.0,0.0,0.0,4810,28008,2.0,0,0,3,4810,0,1990,2009,20418 NE 64th Pl,Redmond,WA 98053,USA
2365,2014-06-12 00:00:00,1095000.0,0.0,0.0,3064,4764,3.5,0,2,3,3064,0,1990,2009,814 E Howe St,Seattle,WA 98102,USA
4556,2014-06-27 00:00:00,167500.0,1.0,1.0,690,1950,1.0,0,0,3,690,0,1928,1954,7554 14th Ave NW,Seattle,WA 98117,USA
784,2014-05-16 00:00:00,350000.0,1.0,1.0,700,5100,1.0,0,0,3,700,0,1942,1999,6849 26th Ave NE,Seattle,WA 98115,USA
3633,2014-06-30 00:00:00,410000.0,1.0,1.5,1010,5750,1.0,0,0,3,1010,0,1911,1948,4611 SW Maple Way,Seattle,WA 98136,USA