In [30]:
import numpy as np
import pandas as pd
from pathlib import Path
data_path = Path('./data')

In [31]:
df = pd.read_csv('data/house.csv')
df1 = df.head(10)
df2 = df.tail(10)

In [32]:
df = pd.concat([df1, df2], axis = 0)

In [38]:
df = pd.concat([df1, df2], axis = 0, keys =['head', 'tail'])
df

                city      price  bedrooms  statezip country
head 0     Shoreline   313000.0       3.0       NaN     NaN
     1       Seattle  2384000.0       5.0       NaN     NaN
     2          Kent   342000.0       3.0       NaN     NaN
     3      Bellevue   420000.0       3.0       NaN     NaN
     4       Redmond   550000.0       4.0       NaN     NaN
     5       Seattle   490000.0       2.0       NaN     NaN
     6       Redmond   335000.0       2.0       NaN     NaN
     7  Maple Valley   482000.0       4.0       NaN     NaN
     8    North Bend   452500.0       3.0       NaN     NaN
     9       Seattle   640000.0       4.0       NaN     NaN
tail 0     Shoreline        NaN       NaN  WA 98133     USA
     1       Seattle        NaN       NaN  WA 98119     USA
     2          Kent        NaN       NaN  WA 98042     USA
     3      Bellevue        NaN       NaN  WA 98008     USA
     4       Redmond        NaN       NaN  WA 98052     USA
     5       Seattle        NaN       NaN  WA 98115     USA
     6       Redmond        NaN       NaN  WA 98052     USA
     7  Maple Valley        NaN       NaN  WA 98038     USA
     8    North Bend        NaN       NaN  WA 98045     USA
     9       Seattle        NaN       NaN  WA 98115     USA

In [34]:
df1 = df.loc[0:10, ['price', 'bedrooms']]
df2 = df.loc[0:10, ['city', 'statezip', 'country']]

In [35]:
df = pd.concat([df1, df2], axis=1)
df

       price  bedrooms          city  statezip country
0   313000.0       3.0     Shoreline  WA 98133     USA
1  2384000.0       5.0       Seattle  WA 98119     USA
2   342000.0       3.0          Kent  WA 98042     USA
3   420000.0       3.0      Bellevue  WA 98008     USA
4   550000.0       4.0       Redmond  WA 98052     USA
5   490000.0       2.0       Seattle  WA 98115     USA
6   335000.0       2.0       Redmond  WA 98052     USA
7   482000.0       4.0  Maple Valley  WA 98038     USA
8   452500.0       3.0    North Bend  WA 98045     USA
9   640000.0       4.0       Seattle  WA 98115     USA

In [37]:
df1 = df.loc[0:10, ['city', 'price', 'bedrooms']]
df2 = df.loc[0:10, ['city', 'statezip', 'country']]
df = df1.merge(df2, how = 'left', left_on = 'city', right_on = 'city')
df

            city      price  bedrooms  statezip country
0      Shoreline   313000.0       3.0  WA 98133     USA
1        Seattle  2384000.0       5.0  WA 98119     USA
2        Seattle  2384000.0       5.0  WA 98115     USA
3        Seattle  2384000.0       5.0  WA 98115     USA
4           Kent   342000.0       3.0  WA 98042     USA
5       Bellevue   420000.0       3.0  WA 98008     USA
6        Redmond   550000.0       4.0  WA 98052     USA
7        Redmond   550000.0       4.0  WA 98052     USA
8        Seattle   490000.0       2.0  WA 98119     USA
9        Seattle   490000.0       2.0  WA 98115     USA
10       Seattle   490000.0       2.0  WA 98115     USA
11       Redmond   335000.0       2.0  WA 98052     USA
12       Redmond   335000.0       2.0  WA 98052     USA
13  Maple Valley   482000.0       4.0  WA 98038     USA
14    North Bend   452500.0       3.0  WA 98045     USA
15       Seattle   640000.0       4.0  WA 98119     USA
16       Seattle   640000.0       4.0  WA 98115     USA
17       Seattle   640000.0       4.0  WA 98115     USA